<div class="section section-image" style="background-image:url(../assets/img/civ5.jpg)">
  <div class="content-center">
    <div class="container">
      <div class="alert alert-danger" role="alert" *ngIf="errors">
        <div class="container">
          <div class="alert-icon">
            <i class="now-ui-icons objects_support-17"></i>
          </div>
          <strong>Oh snap!</strong> Change a few things up and try submitting again.

          <ul>
            <li *ngFor="let error of errors">{{ error | capitalize }}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="now-ui-icons media-2_sound-wave"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Vote for Games</h5>
              <p class="description">
                Every so often we buy new games. You can use this website to vote on which ones we should get.
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="now-ui-icons business_money-coins"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Manage Finances</h5>
              <p class="description">
                For regular users, you can check if you've paid your dues. For leadership, you can keep track of the club's money.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-md-1">
          <div class="card card-signup">
            <div class="card-block">
              <h4 class="card-title text-center">Register</h4>
              <form class="form" (ngSubmit)="register()">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="now-ui-icons users_circle-08"></i>
                  </span>
                  <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Username...">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="now-ui-icons users_circle-08"></i>
                  </span>
                  <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Full Name...">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="now-ui-icons ui-1_email-85"></i>
                  </span>
                  <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Email...">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="now-ui-icons text_caps-small"></i>
                  </span>
                  <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password...">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="now-ui-icons text_caps-small"></i>
                  </span>
                  <input type="password" [(ngModel)]="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password...">
                </div>
                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-primary btn-round btn-lg">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
