<div class="wrapper">
  <div class="page-header header-filter">
    <div class="page-header-image" style="background-image: url('assets/img/background.png');"></div>
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
            <h1 class="title">HiesAGC</h1>
            <h4 class="description">Welcome to the Adventure Gaming Club</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cd-section features-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2 class="title">Fun People. Awesome Games. Every Friday</h2>
          <h4 class="description">After a hard week of school we meet in Room 109 to blow off some steam.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-success icon-circle">
              <i class="now-ui-icons location_map-big"></i>
            </div>
            <h4 class="info-title">Board Games</h4>
            <p class="description">Settlers of Catan, Ticket to Ride, King of Tokyo, Game of Thrones, and more.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-info icon-circle">
              <i class="now-ui-icons files_single-copy-04"></i>
            </div>
            <h4 class="info-title">Card Games</h4>
            <p class="description">Durak, Dominion, Smash Up, Flux, Munchkin, and more.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-primary icon-circle">
              <i class="now-ui-icons tech_laptop"></i>
            </div>
            <h4 class="info-title">Video Games</h4>
            <p class="description">We mainly play Civilization V and Diplomacy.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team-3 section-image" style="background-image: url('assets/img/got-bg.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h2 class="title">Leadership</h2>
          <h4 class="description">Every year we have elections to determine who runs the club. Here is the current leadership.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-profile">
            <div class="row">
              <div class="col-md-5">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="assets/img/chris.jpg" />
                  </a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-block">
                  <h3 class="card-title">Chris Yarsawich</h3>
                  <h6 class="category text-primary">Club Mentor</h6>
                  <p class="card-description">
                    Happiness resides not in possessions, and not in gold, happiness dwells in the soul...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-profile">
            <div class="row">
              <div class="col-md-5">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="assets/img/julie.jpg" />
                  </a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-block">
                  <h3 class="card-title">Meredith Weiss</h3>
                  <h6 class="category text-primary">President</h6>
                  <p class="card-description">
                    Today you are you! That is truer than true! There is no one alive who is you-er than you!..
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-profile">
            <div class="row">
              <div class="col-md-5">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="assets/img/michael.jpg" />
                  </a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-block">
                  <h3 class="card-title">Colin Cassell</h3>
                  <h6 class="category text-primary">Treasurer</h6>
                  <p class="card-description">
                    Success is not final, failure is not fatal: it is the courage to continue that counts...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-profile">
            <div class="row">
              <div class="col-md-5">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="assets/img/emily.jpg" />
                  </a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-block">
                  <h3 class="card-title">Amanda Something</h3>
                  <h6 class="category text-primary">Vice President</h6>
                  <p class="card-description">
                    Do not dwell in the past, do not dream of the future, concentrate the mind...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pricing-4" id="pricing-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <h2 class="title">Pick the best plan for you</h2>
          <h4 class="description">We understand some people are on a budget so we offer affordable prices.</h4>
          <div class="section-space"></div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card card-pricing" data-background-color="blue">
            <div class="card-block">
              <h6 class="category">Absolutely Free</h6>
              <div class="icon">
                <i class="now-ui-icons ui-1_check"></i>
              </div>
              <h3 class="card-title">
                <small>$</small>0</h3>
              <ul>
                <li>Unlimited Meetings</li>
                <li>Free to Play</li>
                <li>No Microtransactions</li>
              </ul>
              <a href="#pablo" class="btn btn-neutral btn-info disabled btn-round">
                Purchased
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials-1 section-image" style="background-image: url('assets/img/bg19.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <h2 class="title">What do people say?</h2>
          <h4 class="description ">These are just some of the comments we get.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-testimonial">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img img-raised" src="assets/img/content_cop.png" />
              </a>
            </div>
            <div class="card-block">
              <p class="card-description">
                Don't play anything with Blake unless you enjoy losing.
              </p>
            </div>
            <div class="icon icon-primary">
              <i class="fa fa-quote-right"></i>
            </div>
            <div class="card-footer">
              <h4 class="card-title">Jackson Yeager</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-testimonial">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img img-raised" src="assets/img/sean.jpg" />
              </a>
            </div>
            <div class="card-block">
              <p class="card-description">
                Never trust a Yarsawich. Never. Trust. A. Yarsawich.
              </p>
            </div>
            <div class="icon icon-primary">
              <i class="fa fa-quote-right"></i>
            </div>
            <div class="card-footer">
              <h4 class="card-title">Sean P. Hackett</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-testimonial">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img img-raised" src="assets/img/obama.jpg" />
              </a>
            </div>
            <div class="card-block">
              <p class="card-description">
                This club is dope.
              </p>
            </div>
            <div class="icon icon-primary">
              <i class="fa fa-quote-right"></i>
            </div>
            <div class="card-footer">
              <h4 class="card-title">Barack Obama</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
